/********** Base styles **********/
* {
  box-sizing: border-box;
  
}

h1 {
  margin-bottom: 60px;
  font-family: Comic sans MS;
  font-style: bold;
  color: black;
  text-align: center;
}

/* Simple Responsive Framework. */
.row {
  width: 100%;
}

.background {
  background-color: lightgray;
  font-family: Comic sans MS;
  height: fit-content;
  border: 2px solid black;
  margin: 4px;
  font-style: bold;
  color: black;
  padding: 5px;
  position: relative;
  float: left;
  
}

.chicken, .beef, .sushi {
  
  width: 30%;
  height: 30px;
  border: 1px solid black;
  margin: 0;
  top: 0;
  right: 0;
  text-align: center;
  padding: 2.5px 20px 2.5px 20px;
  font-family: Comic sans MS;
  font-style: bold;
  color: black;
  position: absolute;
  float: right;
}


p {
  clear: both;
  padding-top: 15px;
}


.chicken {
  background-color: lightpink;
}
.beef {
  background-color: indianred;
}

.sushi {
  background-color: lightyellow;
}


/********** Large devices only **********/
@media (min-width: 992px)  {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, 
  .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  
  .col-lg-4 {
    width: 32.5%;
  }
  

}

/********** Tablet View **********/
@media (min-width: 768px) and (max-width: 991.99px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, 
  .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }

  .col-md-6 {
    width: 48.5%;
  }
  
  .col-md-12 {
    width: 98%;
  }
  
}


/********** Mobile View **********/
@media (max-width: 767.999px) {
  .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, 
  .col-xs-10, .col-xs-11, .col-xs-12 {
    float: left;
  }

  .col-xs-12 {
    width: 99%;
  }
  
}
